In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
np.random.seed(1)

In [3]:
# load data
df = pd.read_csv('../diabetic_retinopathy_data.txt',sep= ',',header=None)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1,1,22,22,22,19,18,14,49.895756,17.775994,5.270920,0.771761,0.018632,0.006864,0.003923,0.003923,0.486903,0.100025,1,0
1,1,1,24,24,22,18,16,13,57.709936,23.799994,3.325423,0.234185,0.003903,0.003903,0.003903,0.003903,0.520908,0.144414,0,0
2,1,1,62,60,59,54,47,33,55.831441,27.993933,12.687485,4.852282,1.393889,0.373252,0.041817,0.007744,0.530904,0.128548,0,1
3,1,1,55,53,53,50,43,31,40.467228,18.445954,9.118901,3.079428,0.840261,0.272434,0.007653,0.001531,0.483284,0.114790,0,0
4,1,1,44,44,44,41,39,27,18.026254,8.570709,0.410381,0.000000,0.000000,0.000000,0.000000,0.000000,0.475935,0.123572,0,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1151 entries, 0 to 1150
Data columns (total 20 columns):
0     1151 non-null int64
1     1151 non-null int64
2     1151 non-null int64
3     1151 non-null int64
4     1151 non-null int64
5     1151 non-null int64
6     1151 non-null int64
7     1151 non-null int64
8     1151 non-null float64
9     1151 non-null float64
10    1151 non-null float64
11    1151 non-null float64
12    1151 non-null float64
13    1151 non-null float64
14    1151 non-null float64
15    1151 non-null float64
16    1151 non-null float64
17    1151 non-null float64
18    1151 non-null int64
19    1151 non-null int64
dtypes: float64(10), int64(10)
memory usage: 179.9 KB

There are 25 attributes: <br/>
0) quality assessment: 1 = sufficient quality, 0 = bad quality --> binary <br/>
1) pre-screening: 1 = retinal abnormal, 0 = lack --> binary <br/>
2) (2-->7): MA detection: number of MAs found at the confidence levels alpha = 0.5, . . . , 1, respectively --> numerical <br/>
8) (8-->15) Exudates: normalized by dividing the number of lesions with the diameter of the ROI to compensate different image sizes --> numerical<br/>
16) euclidean distance --> numerical<br/>
17) The diameter of the optic disc --> numerical<br/>
18) The binary result of the AM/FM-based classification --> NOT use this result.

and 1 class: 1 (diabetic retinopathy) and 0 (not diabetic retinophathy)

In [6]:
df = np.array(df).astype(float)

In [7]:
df.shape

(1151, 20)

In [8]:
np.unique(df[:,0],return_counts=True)

(array([0., 1.]), array([   4, 1147]))

In [9]:
# delete bad rows
df = df[df[:,0] ==1]

In [10]:
df.shape

(1147, 20)

In [11]:
X = df[:,1:-2] # not take the quality assessment (column 0) and AM/FM classification (column 18)
X.shape

(1147, 17)

In [12]:
y = df[:,-1]

In [13]:
np.unique(y,return_counts=True)

(array([0., 1.]), array([536, 611]))